{{ form_start(form) }}
<div class="row">
    <div class="col-md-3">{{ form_row(form.titre) }}</div>
    <div class="col-md-4">{{ form_row(form.description) }}</div>
    <div class="col-md-4">{{ form_row(form.adresse) }}</div>
    <div class="col-md-4">{{ form_row(form.ville) }}</div>
    <div class="col-md-5">{{ form_row(form.prix) }}</div>
</div>
<div class="row">
    <div class="col-md-10 ">{{ form_row(form.date_deb) }}</div>
    <div class="col-md-10">{{ form_row(form.date_fin) }}</div>
</div>
<div class="row">
    <div class="col-md-7">{{ form_row(form.adresse) }}</div>
    <div class="col-md-7">{{ form_row(form.ville) }}</div>
    <div class="col-md-8">{{ form_row(form.imageFile) }}</div>
</div>
{{ form_widget(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary mt-4">{{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}