{% extends 'user/index.html.twig' %}

{%block title %}<title>Evenements</title>{% endblock %}

{% block body %}
{{ parent() }}


    <!-- ======= About Section ======= -->
    <section id="subscribe"></section>
    <section id="speeker">
        <div class="container" data-aos="fade-up">
            {% for data in list %}
            <div class="row">
                <div class="col-lg-3">
                    <h3>Titre</h3>
                    <p>{{ data.titre }}</p>
                </div>
                <div class="col-lg-3">
                    <h2>A propos l'evenement </h2>
                    <p>{{ data.description }}</p>
                </div>
                <div class="col-lg-3">
                    <h3>Prix</h3>
                    <p>{{ data.prix }}dt<br></p>
                </div>
                <div class="col-lg-3">
                    <h3>Reaction</h3>

                    <a href="{{ path('addtolist',{'idEvent':data.id}) }}"><button name="addwishlist" class="btn-success">A jouter a ma liste</button></a>
                </div>
            {% endfor %}
            </div>
        </div>
    </section><!-- End About Section -->
{% endblock %}
